// Configuration A is to have the footer at the bottom of the page
// with main that fills the page even if it is short. When the main
// is longer than the page the footer follows main and will be always
// at the bottom. The header is always blocked at the top.

// Configuration B is to have the footer and the header always visible
// and the scrolling is done only for main

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // Configuration A
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  // Configuration A
  padding: 6rem 1rem 1rem 1rem;
  flex: 1;

  // Configuration B
  //padding: 50px 0 100px 0;
}

header {
  // Configuration A
  min-height: 4rem;
  // Configuration B
  //height: 50px;

  position: fixed;
  width: 100%;
  top: 0;


  background-color: #013e3f;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.header-link {
  color: white;
  text-decoration: none;
  background-color: #013e3f;
  border: none;
  cursor: pointer;
}

.header-action-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


footer {
  // Configuration A
  min-height: 2rem;

  // Configuration B
  //position: fixed;
  //height: 100px;
  //width: 100%;
  //bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #013e3f;
  color: white;

  .footer-body {
    padding: 0rem 2rem;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-button-primary {
  padding: 0.5rem;
  background-color: #013e3f;
  color: white;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

.form-button-secondary {
  padding: 0.5rem;
  background-color: white;
  color: #013e3f;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

.home-write-post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.blog-posts-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 0.5;

  .post-list-entry {
    cursor: pointer;
    margin-left: 1rem;
  }

  .post-list-entry:hover {
    color: #013e3f;
  }
}

.blog-post-details {

  .blog-post-content {
    padding: 2rem;
    background-color: #013e3f34;
  }
}

.blog-post-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 60%;
  gap: 0.5rem;

  .blog-post-form-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .blog-post-form-action-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}